{% extends "product/layout.html" %}
{% load static %}


{% block content %}
    <main class="container">
        <div class="d-flex justify-content-end p-3">
            <!-- This button will open the add product modal -->
            <button type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#add">
                Add Product
            </button>
        </div>
        
        <!-- Table for displaying current stocks -->
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Product Name</th>
                    <th>Date Added</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <!-- For each item in stocks/inventory create a new row and a separate edit modal -->
            <tbody>
                {% for product in inventory %}
                <tr>
                    <td class="font-weight-bold">{{product.name}}</td>
                    <td>{{product.date_added}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td><button type="button" class="btn btn-default badge-dark" data-toggle="modal" data-target="#edit-{{product.id}}">Edit</button></td>
                    <td><button type="button" class="btn btn-default badge-danger" data-toggle="modal" data-target="#delete-{{product.id}}">Delete</button></td>

                </tr>
            </tbody>
            {% endfor %}
        </table>

        <!-- Add Product Modal -->
        <div class="modal fade" id="add">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Product</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form action="add/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body form-group">
                            <div class="form-control">
                                <table class="table">
                                    {% for field in form %}
                                    <tr>
                                        <th>{{ field.label }}</th>
                                        <td>{{ field }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-info">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Update product modals -->
        {% for product in edits %}
        <div class="modal fade" id="edit-{{product.stock.id}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Product</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form action="update/{{product.stock.id}}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-control">
                            <table class="table">
                                {% for field in form %}
                                <tr>
                                    <th>{{ field.label }}</th>
                                    <!-- <td>{{ field }}</td> -->
                                    <td>
                                        {% if field.name == 'name' %}
                                            <input type="text" name="{{ field.name }}" value="{{ update.product.name }}">
                                        {% elif field.name == 'price' %}
                                            <input type="number" name="{{ field.name }}" value="{{ update.product.price }}">
                                        {% elif field.name == 'quantity' %}
                                            <input type="number" name="{{ field.name }}" value="{{ update.product.quantity }}">    
                                        {% elif field.name == 'category' %}
                                            <select name="{{ field.name }}">
                                                <option value="EL" {% if 'EL' == update.product.category %}selected{% endif %}>Electronics</option>
                                                <option value="CL" {% if 'CL' == update.product.category %}selected{% endif %}>Clothing and Apparel</option>
                                                <option value="FO" {% if 'FO' == update.product.category %}selected{% endif %}>Food</option>
                                            </select>
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-info">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Confirm Delete Modal -->
        {% for product in inventory %}
        <div class="modal fade" id="delete-{{product.id}}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm delete</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="delete/{{product.id}}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">Are you sure you want to delete <b>{{item.name}}</b>?</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Confirm</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
    </main>

{% endblock content %}